<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Deleted Records Manager</name>
    <version>115</version>
    <defaultcat>Admin</defaultcat>
    <desc>This modules allows the admin to view and delete client database records that have been marked deleted by Sentora.</desc>
	<type>user</type>
    <authorname>TGates</authorname>
    <authoremail>tgates@mach-hosting.com</authoremail>
    <authorurl>http://forums.sentora.org/showthread.php?tid=1617</authorurl>
    <updateurl>http://zppy-repo.mach-hosting.com/repo/deleted_records_manager.xml</updateurl>
</module>